
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
}
html{
  font-size: 62.5%;
 
}
/* body{
  font: 1.6rem Helvetica;
  height: 100vh;  
} */
.wrapper{
  max-width: 128rem;
  margin: 0px auto;
  font: 1.6rem Helvetica;
  height: 100vh;  
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;   
}
a:hover{
  cursor: pointer;
  opacity: .7;
}
.container{
  max-width: 128rem;
  /* padding: 0 1rem; */
  margin: 0px auto;
  border: 1px solid red;
  height: 100%;
}

.grid-container{
  display: grid;  
  grid-template-areas: 
  "h h"
  "a m"
  "f f";  
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  width: 100%;
}

/* HEADER  */
.header{
  grid-area: h; 
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: brown;
}

.header__title {
  font-size: 32px;
  letter-spacing: 2.6px; 
  font-weight: 500; 
  color: #f1cdb3;
  margin-left: 1rem; 
}
.header__link a {
  font-size: 20px;
  color: bisque;
}

/* GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */

.hamburger {  
  display: none; 
 
}

@media screen  and  (max-width: 767px){
  .hamburger {    
     display: block;
   }
   .grid-container{
     grid-template-areas: 
     "h"
     "m"
     "f";  
     grid-template-columns: 1fr;    
  
  }
  .aside{
     display: none;
  }   

}

/* END GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG------------------------------------------- */

.header__right,.header-left {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.header-left button{
  font-size: 3rem;
  padding: 0.5rem;
  background:none;
  border: none;
  color:#f1cdb3 ;
  cursor: pointer; 
}
.header__link{  
  margin: 0 1rem;
}
/* SIDEBAR */
.sidebar{
  position: fixed;
  transition: all 1s;
  transform: translateX(-30rem);
  width: 30rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start; */
  background: #f0f0f0;
  height: 100%;
  display: none;
  /* border: 1px solid red; */
}
.sidebar.open{
  transform: translateX(0);
  display: block;
}
.sidebar-close-button{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
   border: 1px solid black;
   padding: .5rem;
   font-size: 2rem;
   padding-top: 0;
   cursor: pointer;
   position: absolute;
   right: .5rem;
   top: 1.5rem;



}
/* ASIDE*/
.aside{
grid-area: a;
border: 1px solid green;
}
/* MAIN */
.main{
grid-area: m;
/* border: 1px solid greenyellow; */
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.products li{
  flex: 0 1 34rem;
  margin: 1rem;
  height: 24rem;
  border: 1px solid black;
}
.product-image{
  /* min-width: 34rem;
  min-height: 34rem; */
  width: 18rem;

}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}
/* FOOTER */
.footer{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
grid-area: f;
border: 1px solid blue;
}
.test{
  padding: 5;
  background:grey;
  margin-bottom: 3;
  text-align: left;
  cursor: pointer;
}
/* CATEGORIES_LIST */
.sidebar-link{
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #ffb366
}
.sidebar-link:hover{
  cursor: pointer;
  background: #ffd9b3
}
.active{
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: red
}
/* END  CATEGORIES_LIST */

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
/*END  Product Details */
