.colors-make {
    display: flex;
    flex-wrap: wrap;
    // height: 100%;
    max-width: 805px;
    align-items: center;

    .colors-make_left {
        margin-right: 15px;
        flex: 0 1 170px;
    }

    .colors-make_right {
        display: flex;
        flex-direction: column;
        flex: 1 1 250px;       

            div {
                display: flex;
                flex-direction: column;
                margin: 1rem;           
            }
    }
}
