.details-wrapper {
    height: 100%;

    .details {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 980px;
        justify-content: space-between;
        align-items: flex-start;

        &__title {}

        &__left {
             margin-right: 15px;
            flex: 0 1 190px;
            @media (max-width: 640px) {
                flex: 0 1 150px;

                margin: 5px auto;
            }

            // flex:0 0 240px;

            &_image {
                display: flex;
                max-width: 100%;
                align-items: center;
                justify-content: center;


                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            flex: 1 1 250px;
            width: 100%;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            padding: 10px;

            &_title {
                margin-right: 30px;
                font-weight: 500;
            }

            &_colors {
                display: flex;
                //  flex-wrap: wrap;
                //   flex: 0 1 40%;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        margin: 0px 10px 5px 0px;
                        cursor: pointer;
                        height: 50px;
                        width: 50px;
                        @media (max-width: 768px) {
                            height: 32px;
                        width: 32px;
                         }

                        img {
                            max-width: 100%;
                            border: 1px solid #a4a4a4;
                        }

                        &.active {
                            img {
                                border: 3px solid #f6c502;
                            }
                        }
                    }
                }
            }

            &_price {
                // flex:1;
                margin-bottom: 20px;
                padding: 7px;
                border-bottom: 1px solid #eee;
            }

            &_size {
                display: flex;
                // flex: 0 1 50%;
                margin-bottom: 10px;
                @media (max-width: 640px) {
                    margin: 0;
                }
    
            }

            &_description {}

            &_action {
                //  flex: 0 1 50%;
                border: 0.1rem #808080 solid;
                border-radius: 0.5rem;
                background-color: #f8f8f8;
                padding: 1rem;
                width: 65%;
                @media (max-width: 768px) {
                    width: 100%;
                }
    

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin-bottom: 1rem;
                    }

                    li:last-child {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
