.raz {
  display: flex;
  flex-flow: wrap;
  border: 1px solid rgb(0, 180, 0);
  background: green;
}
.raz div {
  flex:0 1 15rem;
  min-height: 2em;
  background: rgb(255, 255, 0);
}
.raz div:nth-child(2) {
  flex: 2 1 30rem;
  background: rgb(255, 225, 50);
}
.raz div:nth-child(3) {
  flex: 0 1 15rem;
  background: blueviolet;
}

/* flex-shrink и flex-grow совсем не оказывают никакого влияния на переход flex-элемента на другую линию */
#raz9 div {
  // flex: 0 0 auto;
}
// #raz10 div {
//   flex: 1 1 auto;
// }
// <div>
// <div class="raz" id="raz9">
//   <div></div>
//   <div></div>
// </div>

// <div class="raz" id="raz10">
//   <div></div>
//   <div></div>
// </div>
// </div>